/*==========================================================================
* VIT Experts Color CSS
==========================================================================*/
:root {
  --body-font: "Space Grotesk", sans-serif;
  --heading-font: "Space Grotesk", sans-serif;
  --text-white: #ffffff;
  --bg-white: #ffffff;
  --btn-white: #ffffff;
  --border-white: #ffffff;
  --black: #000000;
  --primary-color-1: #0e59f2;
  --primary-color-2: #f8e559;
  --primary-color-3: #406aff;
  --bg-heading-color: #051634;
  --text-heading-color: #051634;
  --btn-heading-color: #131313;
  --body-color: #343434;
  --dark-one: #1c1e22;
  --dark-two: #222429;
  --color-1: #f4f7fb;
  --color-2: #737373;
  --color-3: #0b46bf;
  --color-4: #cccccc;
  --color-5: #12223e;
  --color-6: #864af942;
  --color-7: #07204d;
  // --color-8: #E8E8E8;
  // --color-9: #F2F6F9;
  // --color-10: #ECECEC;
  // --color-11: #2B2B2B;
  // --color-12: #FEE3BF;
  // --color-13: #CFCFCF;
  // --color-14: #FDC67E;
  // --color-15: #ACBDF8;
  // --color-16: #E1E1E1;
  // --color-17: #feedea;
  // --color-18: #151718;
  // --color-19: #3B3838;
  // --color-20: #808287;
  // --color-21: rgba(34, 36, 41, 0.5);
  --border-color-1: #e7e7e7;
  --border-color-2: #e9e9e8;
  --border-color-3: rgba(19, 19, 19, 0.1);
  --border-color-4: rgba(19, 19, 19, 0.06);
  --box-shadow-1: 0px 25px 70px rgba(0, 0, 0, 0.08);
  --box-shadow-2: 0px 10px 70px rgba(0, 0, 0, 0.1);
}
